<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div>
      <nav>
        <h1 class="header-title">Afghanistan Famous Dishes</h1>
  
          <a class="header-item" href="/">Home Page</a>
       
      <a  class="header-item" href="/Newpost">New Post</a>

      </div>
    </nav>
      <h1 class="heading">Welcome to My (Afgan famous dishes) Blog</h1>
   
  </body>
</html>
